p{
    font-size: 18px;
    color: #777777;
    font-weight: normal;
}
.btn{
    width: 200px;
    height: 64px;
    font-size: 20px;
    font-weight: bold;
    background-color: #FF0000;
    color: white;
    border-radius: 10px;
}
.header{
    display: flex;
    gap: 20px;
    margin-left: 80px;
    margin-top: 30px;
    margin-right: 10px;
    justify-content: center;
}
.h-div1 h1{
    font-size: 80px;
    font-weight: bolder;
}
.ratting{
    width: 230px;
    height: 80px;
    background-color: rgb(184, 214, 240);
    display: flex;
    gap: 20px;
    border-radius: 10px;
    align-items: center;
    padding: 5px;
    position: relative;
    top: -100px;
    left: 100px;
}

/* Main section */
.m-sec1{
    display: grid;
    justify-content: center;
    text-align: center;
}
.m-sec1 h1{
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: -10px;
}
.tea{
    width: 265px;
    height: 360px;
    background-color: rgb(192, 219, 244);
    padding-top: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

/* Section 2 part2 container */
.great-tea h1{
    font-size: 46px;
    font-weight:bolder;   
}
.great-tea h3{
    font-size: 20px;
    font-weight:bolder;   
}